<template name="layout">
  {{#ionBody}}
      {{#unless currentUser}} 
        {{> signInUp}} 
      {{else}}       
        {{>ionNavBar}}     
        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}
<!--  TODO: check how to change the style of the tabs-->
        {{#if isAndroid}}
          {{#ionTabs style="android"}}
            {{> ionTab title="Add Expense" path="takePicture" icon="plus"}}
            {{> ionTab title="Expenses" path="expensesList" icon="filing"}}
            {{> ionTab title="Profile" path="profile" icon="android-person"}}
          {{/ionTabs}}
        {{else}}
          {{#ionTabs style="ios"}}
            {{> ionTab title="Add Expense" path="takePicture" icon="plus"}}
            {{> ionTab title="Expenses" path="expensesList" icon="filing"}}
            {{> ionTab title="Settings" path="settings" icon="ios-gear"}} 
          {{/ionTabs}}
        {{/if}}
      {{/unless}}
  {{/ionBody}}
</template>