<template name="expenseShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=false}}
  {{/contentFor}}
  
  {{#contentFor "headerTitle"}}
    <h1 class="title">Details</h1>
  {{/contentFor}}
  
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="expenseEdit" data-id={{expense._id}}>
      {{> ionIcon icon='edit'}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#with expense}}
        {{#ionItem}}
          <div class="to-left">
            <h2><i class={{categoryIcon}}></i></h2>
          </div>
          <h2>{{category}}</h2>
          <div class="to-right">
            <h2>{{amount.number}} {{currencySymbol}} </h2>
          </div>
        {{/ionItem}}
        {{#ionItem}}
          <p>Merchant: {{merchant}}</p>
          <p>Location: {{location}}</p>
          <p>Date: {{dateWithFormat}}</p>
        {{/ionItem}}
      {{/with}}
    {{/ionContent}}
  {{/ionView}}

</template>