@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.take-picture {
  text-align: center;
  vertical-align: middle;
  button {
    margin: 30px auto;
    width: 100%;
    background-color: transparent;
    border: none;
    img {
      width: 45%;
      height: auto;
      vertical-align: middle;
    }
    p {
      font-size: 2em;
    }
  }
}

.edit-picture {
  img{
    width: 100%;
    height: auto;
  }
}