<template name="categories">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=false}}
  {{/contentFor}}
  
  {{#contentFor "headerTitle"}}
    <h1 class="title">Categories</h1>
  {{/contentFor}}
  
  {{#ionView}}
    {{#ionContent}}
      {{> quickForm collection="Meteor.users" doc=user id="user-categories-form" type="update" omitFields="emails,createdAt,services,profile.firstName,profile.lastName,profile.NIF,profile.organitzation,profile.department,profile.position,profile.phone"}}
    {{/ionContent}}
  {{/ionView}}
</template>