<template name="settings">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Your Name</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      
<!--
    <h2>User Settings</h2>
    <p> Here you can configure the user profile information, the categories, import and export settings.</p>
-->
  
    {{#ionList}}
        
        {{#ionItem path="profile" iconLeft=true iconRight=true}}
          {{>ionIcon icon="ios-person-outline"}}
          User Profile
          {{>ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        
        {{#ionItem path="categories" iconLeft=true iconRight=true}}
          {{>ionIcon icon="ios-list-outline"}}
          Categories
          {{>ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
        
        {{#ionItem path="importSettings" iconLeft=true iconRight=true}}
          {{>ionIcon icon="ios-download-outline"}}
          Import Settings
          {{>ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}  
  
        {{#ionItem path="exportSettings" iconLeft=true iconRight=true}}
          {{>ionIcon icon="ios-upload-outline"}}
          Export Settings
          {{>ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}
  
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>