<template name="headerWeb">
  <header class="navbar navbar-default" role="navigation">
    <div class="nav-bar header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Billi: expenses utility</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        {{> atNavButton}}<!-- Package: useraccounts:bootstrap-->
      </ul>
    </div>
  </header>
</template>