/*TODO: refactor into global CSS?*/
.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}


.sk-spinner-cube-grid .sk-cube {
  background-color: #fff;
}
/*
.sk-spinner-rotating-plane.sk-spinner {
  background-color: #fff;
}*/
